header {
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0); /* Set your desired background color */
    color: white; /* Set the text color */
    display:flex;
    align-items: center;
    padding: 20px 30px;
    font-family: 'Lato', sans-serif;
    z-index: 1000;
    width: 100%;
    
  }

  <header className='header'>
        
              
  <Link to='/' className='site-name'>
      <h2>PARSEC-LIVE</h2>
  </Link> 
  
  <nav className='nav-content'>
      <Link to='/'>
          HOME
      </Link>
      <Link to='/event'>
          EVENTS
      </Link>
      <Link to='/about'>
          ABOUT
      </Link>
      <Link to='/contactus'>
          CONTACT
      </Link>
      
      
  </nav>  
          
   
</header>

style={{backgroundImage:`url(${workout.img})`}}